header {
  position: sticky;
  z-index: 1;
}

header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222427;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
}

header h2 img {
  height: 32px;
  margin-right: 10px;
}

main {
  width: 86%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 12px 0;
  border-radius: 10px;
  transition-duration: 150ms;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: #fff;
  color: #222427;
  transition-duration: 150ms;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222427;
  padding: 8px;
  font-size: 0.9em;
  text-align: center;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}

canvas {
  max-width: 100%;
  height: auto;
}

.legend {
  color: #222427;
  font-size: 0.7em;
}

.legend div {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}

.legend span {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 5px;
}

.legend .blue {
  background-color: #00c5f2;
}

.legend .green {
  background-color: #01bf83;
}

.legend .red {
  background-color: #ff3452;
}

.legend .yellow {
  background-color: #ffd741;
}
